#copyrigt{
    text-align: center;
    background-color: bisque;
}
#contacting{
    text-align: right;
}
#homeab{
    background-color: aqua;
}
#topic{
    background-color: aquamarine;
}
#copygetkeshav{
    text-align: right;
    background-color: bisque;
}